<h1>String Interpolation</h1>
<h2>Hello world</h2>
<h2>{{ 'Hi guys '.repeat(10) }}</h2>
<p>3+3={{ 3+3}}</p>
<p>Hola, me llamo {{name}} y tengo {{age}} años</p>
<img src={{imgAngular}} alt="image" width="50">
<img src={{imgDocker}} alt="image" width="50">
<hr/>
<h1>Propiedades</h1>
<!--button by default-->
<button [disabled]="btnDisabled">Boton 1</button>
<h2>Property Binding</h2>
<!--Asignar el valor del estado del atributo de un botón desde la clase AppComponent-->
<button [disabled]="btnDisabled">Botón 2</button>
<button (click)="toggleButton()">Toggle</button>
<br/><br/>
<input type="text" [value]="name"/>
<br/>
<progress max="100" [value]="progressValue"></progress>
<br/>
<button (click)="increaseAge()">Incrementar Edad</button>
<p>Barra de edad: </p>
<progress max="100" [value]="age"></progress>
<br/>
<!--Usando objetos-->
<img [src]="person.avatar" alt="image" width="100"/>

<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga odio ipsum illum non quam vel consequatur quia! Harum quaerat et ratione impedit ullam veritatis quo cumque quisquam, esse dolorem provident.</p>
</div>
<hr/>
<!--Event Binding-->
<div>
  <h2>Event Binding</h2>
  <input type="text" [value]="person.name" (keyup)="changeName($event)">
  <p>Nombre: {{person.name}}</p>
</div>
<hr/>
<!--ngModel-->
<div>
  <h2>ngModel - Intercambio bidireccional</h2>
  <input type="text" [(ngModel)]="person.name"/>
  <p>Nombre: {{person.name}}</p>
</div>
<div>
  <h2>ngModel - Validaciones</h2>
  <input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"/>
  <p>Valid: {{nameInput.valid}}</p>
</div>
