<h1>String Interpolation</h1>
<h2>Hello world</h2>
<h2>{{ 'Hi guys '.repeat(10) }}</h2>
<p>3+3={{ 3+3}}</p>
<p>Hola, me llamo {{name}} y tengo {{age}} años</p>
<img src={{imgAngular}} alt="image" width="50">
<img src={{imgDocker}} alt="image" width="50">
<hr/>

<h1>Eventos</h1>
<!--button by default-->
<button [disabled]="btnDisabled">Boton 1</button>
<!--Asignar el valor del estado del atributo de un botón desde la clase AppComponent-->
<button [disabled]="btnDisabled">Botón 2</button>
<button (click)="toggleButton()">Toggle</button>
<br/><br/>

<h2>Property Binding</h2>
<input type="text" [value]="name"/>
<br/>
<progress max="100" [value]="progressValue"></progress>
<br/>
<button (click)="increaseAge()">Incrementar Edad</button>
<p>Barra de edad: </p>
<progress max="100" [value]="age"></progress>
<br/>
<!--Usando objetos-->
<img [src]="person.avatar" alt="image" width="100"/>

<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga odio ipsum illum non quam vel consequatur quia! Harum quaerat et ratione impedit ullam veritatis quo cumque quisquam, esse dolorem provident.</p>
</div>
<hr/>

<!--Event Binding-->
<div>
  <h2>Event Binding</h2>
  <input type="text" [value]="person.name" (keyup)="changeName($event)">
  <p>Nombre: {{person.name}}</p>
  <p>Valid: {{nameInput.valid}}</p>
</div>
<hr/>

<!--ngModel-->
<div>
  <h2>ngModel - Intercambio bidireccional</h2>
  <input type="text" [(ngModel)]="person.name"/>
  <p>Nombre: {{person.name}}</p>
</div>

<div>
  <h2>ngModel - Validaciones Input text</h2>
  <input type="text" required #nameInput="ngModel" [(ngModel)]="inputStringTest"/>
  <p>Valid: {{nameInput.valid}}</p>
</div>

<div>
  <h2>ngModel - Validaciones Input number</h2>
  <input type="number" max="18" min="5" required #numberInput="ngModel" [(ngModel)]="inputNumberTest"/>
  <p>Valid: {{numberInput.valid}}</p>
</div>

<div>
  <h2>*ngIf - Condicional If</h2>
  <input type="text" [(ngModel)]="person.name">
  <!--Condicional If-->
  <p *ngIf="person.name === 'Eduardo'">Mi nombre es Eduardo</p>
  <p *ngIf="person.name === 'Luis' && age === 24">Mi nombre es Luis y tengo 24 años</p>
</div>

<div>
  <h2>*ngIf - Condicional Else</h2>
  <input type="text" [(ngModel)]="person.name">
  <!--Condicional Else-->
  <p *ngIf="person.name === 'Eduardo'">Mi nombre es Eduardo</p>
  <p *ngIf="person.name === 'Luis' && age === 24; else myElseBlock">Mi nombre es Luis y tengo 24 años</p>
  <ng-template #myElseBlock>
    <p>Bloque de else</p>
  </ng-template>
</div>

<!--*ngFor - For loop-->
<div>
  <h2>*ngFor - for loop</h2>
  <h3>Ejemplo 1</h3>
  <ul>
    <li *ngFor="let student of studentsArr; index as i">{{i}}: {{student}}</li>
  </ul>
  <h3>Ejemplo 2</h3>
  <input type="text" [(ngModel)]="inpStudent"/>
  <button (click)="addStudent()">Agregar</button>
  <ul>
    <li *ngFor="let student of studentsArr; index as i">{{i}}: {{student}}
      <button (click)="deleteStudent(i)">Delete</button>
    </li>
    <p *ngIf="studentsArr.length===0">No hay estudiantes</p>
  </ul>
  <h2>Ejemplo 3</h2>
  <div *ngFor="let product of products">
    <p>{{product.name}}</p>
    <p>{{product.price}}</p>
    <img [src]="product.image" alt="image" width="500">
  </div>
</div>
<hr/>

<!--ngSwitch - Switch conditional-->
<input type="text" [(ngModel)]="inpStudent">
<div [ngSwitch]="inpStudent">
  <p *ngSwitchCase="'Leo'">Mi nombre es Leo</p>
  <p *ngSwitchCase="'Nicolas'">Mi nombre es Nicolas</p>
  <p *ngSwitchCase="'Gonzalo'">Mi nombre es Gonzalo</p>
  <p *ngSwitchDefault>Ningún nombre coincide</p>
</div>
<hr/>
<!--Estilos CSS-->
<h2>Estilos CSS</h2>
<div class="products--grid">
  <div *ngFor="let product of products">
    <h3>{{product.name}}</h3>
    <p>{{product.price}}</p>
    <img [src]="product.image"/>
  </div>
</div>

<h2>Class & Style</h2>
<!--Estilos dinámicos-->
<div>
  <input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name">
  <p class="message-error" [class.my-invalid-class]="nameInput2.invalid">El campo es requerido</p>
</div>
<!--Modificar estilo directamente-->
<div>
  <p>Nombre</p>
  <input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name"/>
  <p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat modi nisi, qui repellendus nihil molestias necessitatibus dolorem, cum, vitae libero ut adipisci. Dicta dolor dolorem dolores ducimus quibusdam doloribus libero!</p>
</div>
<!--Modificar tamaños dinamicamente-->
<div class="tam-dinamic">
  <div>
    <input type="text" [(ngModel)]="widthImg" />
  </div>
  <div>
    <img src="https://us.123rf.com/450wm/redlinevector/redlinevector1704/redlinevector170402590/75360779-icono-simple-del-programador.jpg?ver=6" [style.width.%]="widthImg"/>
  </div>
</div>
<hr/>

<!--ngClass & ngStyle-->
<h2>ngClass & ngStyle</h2>

<!--ngClass-->
<h3>ngClass</h3>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name">
<hr class="line-error"
  [ngClass]="{
    'valid': nameInput4.valid,
    'invalid': nameInput4.invalid
  }"
/>
<p class="message-error" [class.my-invalid-class]="nameInput4.invalid">El campo es requerido</p>

<!--ngStyle-->
<h3>ngStyle</h3>
<div class="grid-style2">
  <div>
    <input type="number" [(ngModel)]="box.width"/>
    <input type="number" [(ngModel)]="box.height"/>
    <input type="color" [(ngModel)]="box.background"/>
  </div>
  <div [ngStyle]="{
    'width.px': box.width,
    'height.px': box.height,
    'background-color': box.background,
    'display': 'block'
  }"></div>
</div>
<hr/>
<!--Formularios-->
<div>
  <h2>Formulario</h2>
  <form (ngSubmit)="onRegister()" #myForm="ngForm">
    <div class="input-group">
      <label for="name">Nombre</label>
      <input type="text" name="name" required id="name" [(ngModel)]="register.name">
      <p>Mensaje de error</p>
    </div>
    <div class="input-group">
      <label for="email">Email</label>
      <input type="text" name="email"  required id="email" [(ngModel)]="register.email">
      <p>Mensaje de error</p>
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input type="text" name="password"  required id="password" [(ngModel)]="register.password">
      <p>Mensaje de error</p>
    </div>
    <button type="submit" [disabled]="myForm.invalid">Registrar</button>
    <button type="button">Acción</button>
  </form>
</div>

