<h1>String Interpolation</h1>
<h2>Hello world</h2>
<h2>{{ 'Hi guys '.repeat(10) }}</h2>
<p>3+3={{ 3+3}}</p>
<p>Hola, me llamo {{name}} y tengo {{age}} años</p>
<img src={{imgAngular}} alt="image" width="50">
<img src={{imgDocker}} alt="image" width="50">
<hr/>

<h1>Eventos</h1>
<!--button by default-->
<button [disabled]="btnDisabled">Boton 1</button>
<!--Asignar el valor del estado del atributo de un botón desde la clase AppComponent-->
<button [disabled]="btnDisabled">Botón 2</button>
<button (click)="toggleButton()">Toggle</button>
<br/><br/>

<h2>Property Binding</h2>
<input type="text" [value]="name"/>
<br/>
<progress max="100" [value]="progressValue"></progress>
<br/>
<button (click)="increaseAge()">Incrementar Edad</button>
<p>Barra de edad: </p>
<progress max="100" [value]="age"></progress>
<br/>
<!--Usando objetos-->
<img [src]="person.avatar" alt="image" width="100"/>

<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga odio ipsum illum non quam vel consequatur quia! Harum quaerat et ratione impedit ullam veritatis quo cumque quisquam, esse dolorem provident.</p>
</div>
<hr/>

<!--Event Binding-->
<div>
  <h2>Event Binding</h2>
  <input type="text" [value]="person.name" (keyup)="changeName($event)">
  <p>Nombre: {{person.name}}</p>
  <p>Valid: {{nameInput.valid}}</p>
</div>
<hr/>

<!--ngModel-->
<div>
  <h2>ngModel - Intercambio bidireccional</h2>
  <input type="text" [(ngModel)]="person.name"/>
  <p>Nombre: {{person.name}}</p>
</div>

<div>
  <h2>ngModel - Validaciones Input text</h2>
  <input type="text" required #nameInput="ngModel" [(ngModel)]="inputStringTest"/>
  <p>Valid: {{nameInput.valid}}</p>
</div>

<div>
  <h2>ngModel - Validaciones Input number</h2>
  <input type="number" max="18" min="5" required #numberInput="ngModel" [(ngModel)]="inputNumberTest"/>
  <p>Valid: {{numberInput.valid}}</p>
</div>

<div>
  <h2>*ngIf - Condicional If</h2>
  <input type="text" [(ngModel)]="person.name">
  <!--Condicional If-->
  <p *ngIf="person.name === 'Eduardo'">Mi nombre es Eduardo</p>
  <p *ngIf="person.name === 'Luis' && age === 24">Mi nombre es Luis y tengo 24 años</p>
</div>

<div>
  <h2>*ngIf - Condicional Else</h2>
  <input type="text" [(ngModel)]="person.name">
  <!--Condicional Else-->
  <p *ngIf="person.name === 'Eduardo'">Mi nombre es Eduardo</p>
  <p *ngIf="person.name === 'Luis' && age === 24; else myElseBlock">Mi nombre es Luis y tengo 24 años</p>
  <ng-template #myElseBlock>
    <p>Bloque de else</p>
  </ng-template>
</div>

<!--*ngFor - For loop-->
<div>
  <h2>*ngFor - for loop</h2>
  <h3>Ejemplo 1</h3>
  <ul>
    <li *ngFor="let student of studentsArr; index as i">{{i}}: {{student}}</li>
  </ul>
  <h3>Ejemplo 2</h3>
  <input type="text" [(ngModel)]="inpStudent"/>
  <button (click)="addStudent()">Agregar</button>
  <ul>
    <li *ngFor="let student of studentsArr; index as i">{{i}}: {{student}}
      <button (click)="deleteStudent(i)">Delete</button>
    </li>
    <p *ngIf="studentsArr.length===0">No hay estudiantes</p>
  </ul>
  <h2>Ejemplo 3</h2>
  <div *ngFor="let product of products">
    <p>{{product.name}}</p>
    <p>{{product.price}}</p>
    <img [src]="product.image" alt="image" width="500">
  </div>
</div>
